body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    box-sizing: border-box;
    box-shadow: #fff;
    display: inline-block;
    background-color: #fff;
    margin: 20px;
    margin-top: -10px;
}
   


       /*logo*/

.logo a img{
  padding-top: 20px;
  padding-right: 24px;
   
}

   

      /* navbar*/
nav{
    display: inline-block;
    

}
.nav-bar a{
        display: inline;
        color: #000;
        text-decoration: none;
        line-height: 1.4;
        font-size: 1.1rem;
        padding-right: 24px;
}

.nav-bar a:hover{
            color: #5624d0;
}
 .cart{
         border: none;
         padding-right: 24px;
 }
 .cart a:hover{
         color:#5624D0 ;

 }
.block-search{
            display: inline-block;
            padding-right: 24px;
}

div{
    display: inline-block;
   
}

.nav-icon{
            text-decoration:none;
            color: #000;
            margin-right: 10px;
    
    
}
.nav-icon a {
            padding-right: 20px;
            cursor: pointer;
            border: 1px solid #000;
            font-size: 18px;
            text-decoration: none;
            padding: 10px 14px ; 
            color: #000;
            align-items: center;
}

.nav-icon a:hover{
          background-color: #f7f9fa;

}
a .sign-up:active{
    background-color: #000;
    color: #fff;
}


form{
    width: 100%;
}

input{
        border-radius: 30px;
        height: 40px;
        width: 300px;
        outline: none;


}


        /* image background*/

.bg-header{
 
           height: auto;
           margin-left: 10px;
}
   .box{
       display: inline-block;
       z-index: 999;
        border: 1px solid #000;
        width: 260px;
        margin-top: -200px;
        margin-left: 20px;
        padding: 24px;
        background: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        
   }

.box form input{
    width: 260px;
    border-radius: 0%;
}


            /*container */ 
        /*section top categaries*/

.top-catagre{
            margin:0px -16px -32px 0px;
            width: 100%;
}

h1{
   margin-left: 35px;

}
.images{
        display: inline-block;
        margin-right: 10px;
        padding-left: 35px;
}
     
.low-text{
        display: block;
        padding-bottom: 20px;
}

.a-image{
    text-decoration: none;
}


     /* section featured topic*/

.Feature{
        display: inline-block;
        margin-top: 30px;
        height: 70vh;
        background-color: #f7f9fa;
        padding: 44px 35px;
    
} 

 .topic{
        display: inline-block;
        padding-right: 178px;
} 

.Head-text{
         padding-bottom: 10px;
}

.Head-text a{
            color: #5624D0;
            font-weight: bold;
            font-size: 16px;
    
}

.sub-tex{
        color: #6A6F73;
        display: block;
        margin: 8px 0px 0px;
        margin-bottom: 24px;
        font-size: 14px;
}

.btn{
        border: 1px solid #1c1d1f;
        cursor: pointer;
        padding: 12px;
        font-weight: bold;
}

.btn a{
        color: #000; 
        text-decoration: none;
        line-height: 10px;
}

